@use "../settings/border";
@use "../settings/colors";
@use "../settings/sizes";
@use "../settings/spacing";
@use "../settings/typography";

.navigation {
  background-color: colors.$bg-dark;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 1rem 1rem;

  ul {
    display: none;
    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: sizes.$tabletPortrait) {
    ul {
      display: flex;
      gap: spacing.$xs;
    }
  }
}
