$bg: #383e4e;
$bg-dark: #262a35;
$white: #ffffff;
$black-light: rgba(0, 0, 0, 0.6);
$text-primary: $white;
$link: #0ce3ac;
$pagination: #00bc8c;
$pagination-hover: #00dba3;
$tb-spacing: #464545;
$tb-heading: #2c2c2c;
$tb-row: #1b1b1b;
$error: #ff3333;
